.title-text{
    color: burlywood;
    font-family: arial, sans-serif, cursive;
    font-size: 25px;
    width: 350px;
    text-align: center;
}

.sala1{
    text-align: center center;
    position: absolute;
    width: 240px;
    height: 190px;
}

.nueva-sala{
    justify-content: right;
    text-align: right;
    align-items: right;
    position: absolute;
}