<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title></ion-title>
    </ion-toolbar>
    
    <ion-button [routerLink]="['/perfil']"fill="clear">perfil</ion-button>
    <br>
    <ion-button [routerLink]="['/lista-amigos']" fill="clear">lista de amigos</ion-button>
  </ion-header>
  <!--contenido del menu-->
  <ion-button [routerLink]="['/inicio-sesion']">Cerrar Sesion</ion-button>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>inicioApp</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true" class="background2">
  <br>
  <br>
  <br>
  <div class="title-text">
    Bienvenido user
    <div class="historial">
      <ion-card class="sala1">
        <img alt="" src=""/>
        <ion-card-header>
          <ion-card-title>sala de usuario 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Estuviste 300 min</p>
          <p>el dia: 02/10/2023</p>
          <ion-button class="again" [routerLink]="['/sala-con1']">volver a entrar?</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div>
    <ion-fab class="nueva-sala">
      <ion-fab-button size="small">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button>
          <ion-icon name="videocam-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
