ion-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    background-color: #2b2b2b;
    width: 400px;
    height: 400px; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.titulo{
    font-family: arial, sans-serif;
    font-size: 20px;
}

.subtitulo{
    font-family: arial, sans-serif, fantasy;
    font-size: 20px;
}

ion-item.nombreUsuario{
    width: 350px;
    display: flex;
    margin: auto; 
}

ion-item.contrasena{
    width: 350px;
    display: flex;
    margin: auto; 
}